* {
	margin: 0px; 
	padding: 0px; 
	/* box-sizing: border-box; */
}

body, html {
	height: 100%;
	/* font-family: Montserrat-Regular, sans-serif; */
}

#main{
  width: 30%;
}

.contact1 {
  width: 100%;
  min-height: 100%;
  padding: 15px;
  text-align: center;
  background: '#ebebeb';

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
