* {
	margin: 0px; 
	padding: 0px; 
	/* box-sizing: border-box; */
}

body, html {
	height: 100%;
	/* font-family: Montserrat-Regular, sans-serif; */
}

#main{
  width: 50%;
  margin-top: 25px;
}

.contact1 {
  width: 100%;
  min-height: 100%;
  text-align: center;
  background: #f1f2f7;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
}
